<!DOCTYPE HTML>
<html>
<body>
<div id="main">
<h1>Surrogate City Finder Tool</h1>




<div id="about" style="float:left">
</div>
<div id="about1" style="float:left">
</div>
<div id="about2" style="float:left">
</div>


<div id="login" style="float:left;position:absolute">
<h2>Sign Up</h2>

<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <span><%= message %></span>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password, :placeholder=>"Minimum 8 characters" %>
  </p>
  <p>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, :placeholder=>"Minimum 8 characters" %>
  </p>
  <p class="button"><%= f.submit %></p>
<a href="log_in">Login</a>
</div>
</div>
  

 
<% end %>
</body>
</html>

	
