<!DOCTYPE html>
<html>
<head>
  <title>SCFT</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style>
  body {
    background-color: #12181A;
    /*background-image: url('/assets/scft.jpg')*/
  }
  p {
  font-size: 10; color: white;
  }
  p.pos_fixed{
      text-align: right;
      position: relative;
      
  }
  #flash_notice{
    font-size: 10; color: white;
  }
  </style>
</head>
<body>

<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>

<%= yield %>

</body>
</html>
