
<!DOCTYPE html>
<html lang="en-US">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<title>SCFT</title>

<link rel="shortcut icon" href="http://www.hongkiat.com/blog/favicon.ico">
<link rel="icon" href="/assets/search.png">
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>


<%= stylesheet_link_tag "demo.css" %>

<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
<script type="text/javascript" src="https://www.google.com/jsapi"></script>

<link rel="stylesheet" type="text/css" media="all" href="http://fonts.googleapis.com/css?family=ABeeZee">
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.0/jquery-ui.min.js"></script>
<script type="text/javascript" src="jquery-latest.js"></script> 
<script type="text/javascript" src="jquery.tablesorter.js"></script> 

<script type="text/javascript">

$(document).ready(function(){
  $("#srch").on("click", function(e){
    e.preventDefault();
    var hrefval = $(this).attr("href");
    
    if(hrefval == "#about") {
      var distance = $('#mainpage').css('left');
      
      if(distance == "auto" || distance == "0px") {
        $(this).addClass("open");
        openSidepage();
      } else {
        closeSidepage();
      }
    }
  }); // end click event handler
  
  $("#srch").on("hover", function(){
    var classval = $(this).hasClass("hovertrigger");
    
    if(classval == true) {
      var distance = $('#mainpage').css('left');
      
      if(distance == "auto" || distance == "0px") {
        $(this).addClass("open");
        openSidepage();
      }
    }
  }); // end hover event handler
  
  $("#closebtn").on("click", function(e){
    e.preventDefault();
    closeSidepage();
  }); // end close button event handler

  function openSidepage() {
    $('#mainpage').animate({
      left: '350px'
    }, 400, 'easeOutBack'); 
  }
  
  function closeSidepage(){
    $("#srchd").removeClass("open");
    $('#mainpage').animate({
      left: '0px'
    }, 400, 'easeOutQuint');  
  }
}); 
</script>

 <script>
             function toTitleCase(str)
            {
                return str.replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();});
            }
            // In the following example, markers appear when the user clicks on the map.
            // The markers are stored in an array.
            // The user can then click an option to hide, show or delete the markers.
            var map;
            var geocoder;
            var markers = [];


            function initialize() {
                
                geocoder = new google.maps.Geocoder();
                var centre = new google.maps.LatLng("<%=$ilatitude_mycity%>", "<%=$ilongitude_mycity %>");

                var mapOptions = {
                    zoom: 5,
                    center: centre,
                    mapTypeId: google.maps.MapTypeId.HYBRID
                };
                map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

                var len = document.getElementById('length').innerHTML;


                marker = new google.maps.Marker({
                    icon:"http://maps.google.com/mapfiles/ms/icons/green-dot.png",
                    position: centre,
                    map: map
                });
                var infowindow = new google.maps.InfoWindow({
                      content:  '<b>' + "<%=$icityname%>" + '</b>' + '<br/>' + 
                      'latitude : ' + "<%=$ilatitude_mycity%>"+
                      '<br/>' + 'longitude :  ' +
                      "<%=$ilongitude_mycity%>"
                      });

                infowindow.open(map,marker);
                                
                codeAddress();
                lat_belt();
                draw_radius();
            }
            var marker;
            var parliament;
            var j;
            var i;
            var flag;

            function codeAddress() {
                    var lat = document.getElementById('searchpanel').getElementsByClassName("lat");

                    var cit = document.getElementById('searchpanel').getElementsByClassName("cit");

                    var top10 = document.getElementById("tablespace").getElementsByTagName("a");

                    var lon = document.getElementById('searchpanel').getElementsByClassName("lon");
                    var len = document.getElementById('length').innerHTML; //Number of cities

                    for(i=0;i<len;i++){
                        flag=0;

                        for(j=0;j<10;j++){
                            
                            if(top10[j].innerHTML.toLowerCase() == cit[i].innerHTML.toLowerCase().trim()){
                                flag = 1;                        
                                
                            }
                        }

                        var loc = new google.maps.LatLng(lat[i].innerHTML,lon[i].innerHTML);
                        createMarker(loc, lat[i].innerHTML,lon[i].innerHTML, cit[i].innerHTML, flag, len);
                    }               
                }
            function createMarker(loc, lat, lon, cit, flag,len){
                if(!flag){
                    if(len < 200){
                        var marker = new google.maps.Marker({
                            icon:{url : '/assets/marker.png'},
                            position: loc,
                            map: map,
                        });
                    }
                    else{
                        var marker = new google.maps.Marker({
                        icon:{url : '/assets/placemark_circle.png'},
                        position: loc,
                        map: map,
                        });
                    }
                }
                else{
                    var marker = new google.maps.Marker({
                    icon:{url : '/assets/black-dot.png'},
                    position: loc,
                    map: map,
                    });
                }
                var infowindow = new google.maps.InfoWindow({
                      content:  '<b>' + cit + '</b>' + '<br/>' + 
                      'latitude : ' + lat+
                      '<br/>' + 'longitude :  ' +
                      lon
                      });

                

                google.maps.event.addListener(marker,'click',function() {
                  map.setZoom(9);
                  
                  map.setCenter(marker.getPosition());
                  infowindow.open(map,marker);
                  });
        
            }

            function gc(element) {
                geocoder.geocode({
                        'address': element.innerHTML
                    },
                    function(results, status) {
                        if (status == google.maps.GeocoderStatus.OK) {

                            // Clear the previous marker
                            if (marker) marker.setMap(null);

                            // Set the new marker
                            marker = new google.maps.Marker({
                                position: results[0].geometry.location,
                                map: map,
                                

                            });
                            

                              

                              map.setCenter(results[0].geometry.location);
                             map.setZoom(9);

                             google.maps.event.trigger(marker, 'click');

                          //  zoom_on_click(marker, address);
                            

                            // Center the map on the geocoded result
                           
                        }
                    });
            }

            //make latitude belt
            function lat_belt() {
                
                var ran = parseFloat(document.getElementById('ran').innerHTML);
                console.log("ran: " + ran);
                   
                    var lat = parseFloat("<%=$ilatitude_mycity%>");

                    var lon =parseFloat("<%=$ilongitude_mycity%>");


                    var l_up = new google.maps.LatLng(lat + ran, -177);
                    var m_up = new google.maps.LatLng(lat + ran, 0);
                    var r_up = new google.maps.LatLng(lat + ran, +177);
                    var l_down = new google.maps.LatLng(lat - ran, +177);
                    var m_down = new google.maps.LatLng(lat - ran, 0);
                    var r_down = new google.maps.LatLng(lat - ran, -177);

                    var myTrip = [l_up, m_up, r_up, l_down, m_down, r_down];



                    var flightPath = new google.maps.Polygon({
                        path: myTrip,
                        strokeColor: "#000",
                        strokeOpacity: 0.8,
                        strokeWeight: 2,
                        fillColor: "#0000FF",
                        fillOpacity: 0.4
                    });

                    flightPath.setMap(map);

                }

            //Radius range implementation and infowindow showing entered city.

            function draw_radius() {
                var address = "<%=$icityname %>";
                var rad = parseFloat(document.getElementById('radius').innerHTML);
                rad = rad * 1000;
                console.log(rad);
                console.log(address);
               
               
                 var lat = parseFloat("<%=$ilatitude_mycity%>");
                 console.log("check"+lat);   
                 var lon =parseFloat("<%=$ilongitude_mycity%>");


                var city = new google.maps.LatLng(lat, lon);

                var myCity = new google.maps.Circle({
                    center: city,
                    radius: rad,
                    strokeColor: "#000",
                    strokeOpacity: 0.2,
                    strokeWeight: 2,
                    fillColor: "#fff",
                    fillOpacity: 0.4
                });

                //console.log(myCity);

                myCity.setMap(map);
            }

          

            function zoom_on_click(marker, address) {
                google.maps.event.addListener(marker, 'click', function() {
                    map.setZoom(9);
                    map.setCenter(marker.getPosition());
                    var infowindow = new google.maps.InfoWindow({
                        content: address
                    });
                    infowindow.open(map, marker);
                });
            }

            // Add a marker to the map and push to the array.
            function addMarker(location) {
                var image = {
                    src: '<i class="fa fa-map-marker"></i>',
                    size: new google.maps.Size(24, 24), 
                    origin: new google.maps.Point(0,0),   
                    anchor: new google.maps.Point(12,12)
                };
                
                marker = new google.maps.Marker({
                    //   position: location,
                    icon:image,
                    position: location,
                    map: map,
                    
                });
                console.log(marker); 
            }




            // Sets the map on all markers in the array.


            function setAllMap(map) {
                for (var i = 0; i < markers.length; i++) {
                    markers[i].setMap(map);
                }
            }

            // Removes the markers from the map, but keeps them in the array.


            function clearMarkers() {
                setAllMap(null);
            }

            // Shows any markers currently in the array.


            function showMarkers() {
                setAllMap(map);
            }

            // Deletes all markers in the array by removing references to them.


            function deleteMarkers() {
                clearMarkers();
                markers = [];
            }

           
       
 
        <!--CODE FOR RMS-->





       
var count=0;


function calcu()
{
    tt= <%=raw @matter.to_json %>;
    
    
    
    climatedata=gowiki();
    //alert("climate:"+climatedata);
    rmsData('<%= $ilatitude_mycity %>','<%= $ilatitude_mycity %>',tt,climatedata);

}

function drawtable(tabledata)
{   count=count+1;
    var i=0;
    var maindata="<table id=\"myTable"+count+"\" class=\"table table-striped\"><thead> <tr><th>City Name<img src=\"/assets/black-dot.png\" style=\"text-align:center;width:16px;height:16px;margin-left:80px;display:block;margin-top:-17px;\"></th><th>RMS Min</th><th>RMS Max</th><th>RMS Total</th></tr></thead><tbody>";
   
    while(i<10)
    {
        var set;
        set=tabledata[i][0];
        set=set.trim().replace(/ /g, '%20');
        
        var template="<tr><td><a href=http://127.0.0.1:3000/surrogate/displaySurrogateInfo?rmscity="+set+ "&city=" + "<%= $icityname %>"+
"&lat=" + "<%= $ilatitude_mycity %>" + "&lon=" + "<%= $ilongitude_mycity %>" + "&elev=" + "<%= $ielevation_mycity %>" + ">" + tabledata[i][0]+"</a></td><td>"+tabledata[i][1].toFixed(2)+"</td><td>"+tabledata[i][2].toFixed(2)+"</td><td>"+ tabledata[i][3].toFixed(2)+"</td></tr>";

        maindata=maindata+template;
        i=i+1;
    }
    document.getElementById("tablespace").innerHTML=maindata+"</tbody></table>";
    
   // $("#myTable"+count).tablesorter(); 
}
/*


function drawtable(tabledata)
{

        var data = new google.visualization.DataTable();
//      data.addColumn('number', 'No'); 
        data.addColumn('string', 'City Name');
        data.addColumn('string', 'RMS min'); 
        data.addColumn('string', 'RMS max'); 
        data.addColumn('string', 'RMS total'); 
        
        
        data.addRows([
                       [ tabledata[0][0] ,tabledata[0][1].toFixed(2) ,tabledata[0][2].toFixed(2),tabledata[0][2].toFixed(3)],
                       [ tabledata[1][0] ,tabledata[1][1].toFixed(2) ,tabledata[1][2].toFixed(2),tabledata[1][2].toFixed(3)],
                       [ tabledata[2][0] ,tabledata[2][1].toFixed(2) ,tabledata[2][2].toFixed(2),tabledata[2][2].toFixed(3)],
                       [ tabledata[3][0] ,tabledata[3][1].toFixed(2) ,tabledata[3][2].toFixed(2),tabledata[3][2].toFixed(3)],
                       [ tabledata[4][0] ,tabledata[4][1].toFixed(2) ,tabledata[4][2].toFixed(2),tabledata[4][2].toFixed(3)],
                       [ tabledata[5][0] ,tabledata[5][1].toFixed(2) ,tabledata[5][2].toFixed(2),tabledata[5][2].toFixed(3)],
                       [ tabledata[6][0] ,tabledata[6][1].toFixed(2) ,tabledata[6][2].toFixed(2),tabledata[6][2].toFixed(3)],
                       [ tabledata[7][0] ,tabledata[7][1].toFixed(2) ,tabledata[7][2].toFixed(2),tabledata[7][2].toFixed(3)],
                       [ tabledata[8][0] ,tabledata[8][1].toFixed(2) ,tabledata[8][2].toFixed(2),tabledata[8][2].toFixed(3)],
                       [ tabledata[9][0] ,tabledata[9][1].toFixed(2) ,tabledata[9][2].toFixed(2),tabledata[9][2].toFixed(3)]


                        ]);


        var table = new google.visualization.Table(document.getElementById('tablespace'));

        table.draw(data, {showRowNumber: true});


}

*/


function rmsData(lat,lng,matter,citydata)
{   
    var lnrange = parseFloat('<%= $ilatitude_range %>');//parseFloat(document.getElementById("latrange").value);
    var maxtemp = parseFloat(40);//parseFloat(document.getElementById("maxtemp").value);
    var mintemp = parseFloat(20);//parseFloat(document.getElementById("mintemp").value);
    var rad = parseFloat('<%= $iradius_range %>');//parseFloat(document.getElementById("radrange").value);
   	
   	var tabledata=[];
   	for(i=0;i<matter.length;i++)
   	{
   		var rmsmax=0,rmsmin=0;
   		for(j=1,k=0;j<=12 && k<24;j++,k+=2)
   		{

   			
   			
   			rmsmax=parseFloat(rmsmax);
   			var t= parseFloat(matter[i][j]);
   			var r= parseFloat(citydata[k]);
   			var s = t-r;
   			s=Math.abs(s)
   			s=parseFloat(s);
   			var l= Math.pow(s,2);
			l=parseFloat(l);
			
			
   			rmsmax = parseFloat(Math.abs(rmsmax + l));
   	
   			
   		}
   	
   		for (j=13,k=1;j<25 && k<24;j++,k+=2)
   		{
   			rmsmin=rmsmax + Math.pow(Math.abs(parseFloat(matter[i][j])- parseFloat(citydata[k])),2); 
   		}

   		rmax=Math.sqrt(rmsmax/12)
   		rmin=Math.sqrt(rmsmin/12)
   		rtotal = (rmax+rmin)/2;
        var fail = toTitleCase(matter[i][0]);
        console.log(fail);
   		
   		tabledata.push([fail,rmax,rmin,rtotal]);

	}
   	function Comparator(a,b){
   			if (a[3]<b[3]) return -1;
   			if (a[3]>b[3]) return 1;
   			return 0;
    		} 
    	tabledata.sort(Comparator);
    	
   drawtable(tabledata);

}




function gowiki()
{
    

	var sendarray=[];
	data = <%=raw @arr.to_json %>
	
	data=data[0].split("\n");
	while (i<data.length)
	{
		if (data[i]=null)
		{
			data[i]="";
		}
	}
	

	
	var maxtemp=[];
    var mintemp=[];
    var maxyearavg;
    var minyearavg;
   if(data.length>1)
{
	var i=0;
	for(i=0;i<data.length;i++)
	{

		
		if(data[i].match(/Average\shigh\s/g))
		{   
			
			var j;
			var k=i;
			for(j=0;j<24;j++,k++)
				if(!data[k].match(/\(/g))
				{	
					data[k]=data[k].replace("−", "-"); 
					maxtemp.push(data[k]);
				}

			maxyearavg=data[k+1];
		}
		else if(data[i].match(/Average\slow\s/g))
		{
			var j;
			var k=i;
			for(var j=0;j<24;j++,k++)
				if(!data[k].match(/\(/g))
				{
					data[k]=data[k].replace("−", "-");
					mintemp.push(data[k]);
				} 

			minyearavg=data[k+1];

		}
		
	}

    

        i=0;
        var newdata=[["year","Min","Max"]];
        var dates=["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"];
        
        while(i<12)
        {
            var temp=[dates[i],parseFloat(mintemp[i]),parseFloat(maxtemp[i])];
            var temp1=[parseFloat(maxtemp[i]),parseFloat(mintemp[i])];   
            min=parseFloat(mintemp[i]);
            max=parseFloat(maxtemp[i]);
            sendarray.push(max);
            sendarray.push(min);
            newdata.push(temp);
           
                    
            i=i+1;  
        }
    }
    else
    {
        sendarray=[];
        var newdata=[["year","Min","Max"]];
        var dates=["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"];
        var i=0;
        while(i<12)
        {
                newdata.push([dates[i],0,0]);
                i=i+1;
        }
    }
       
        return sendarray;
}


        </script>
<style>

p.pos_fixed{
      text-align: right;
      margin-right: :20px;
      position: relative;
      
}
#myTable1,#myTable1 th,#myTable1 td{
    
    border-collapse: collapse;
}
#myTable1 th,#myTable1 td {
    padding: 5px;
}
</style>
</head>




<body>
<div id="about">
  <b><h2 style="background-color: transparent;">Modify Search</h2></b>
    
        <%= form_tag("/search", method: "get", remote: true) do %>
        <ul>
            <%= hidden_field_tag('city',$icityname) %><br>
            <li>
            <%= label_tag(:latitude_range, "Latitude Range*(in degrees)") %><br>
    <%= text_field_tag(:latitude_range,$ilatitude_range ) %><br>
          </li>

          <li>
           <%= label_tag(:elevation_range, "Elevation Range*(in m):") %><br>
    <%= text_field_tag(:elevation_range,$ielevation_range) %><br>
          </li>

           <li>
             <%= label_tag(:radius_range, "Radius Range(in km):") %><br>
    <%= text_field_tag(:radius_range,$iradius_range) %><br>
          </li>
          
           <%= hidden_field_tag 'latitude_mycity', $ilatitude_mycity %>
          
           <%= hidden_field_tag 'longitude_mycity', $ilongitude_mycity %>
          
            <br>
         

          
             <%=  submit_tag("Search")%>

          
        
        </ul>
        <%end%>
        
 
        
</div>
<div id="mainpage">

    



    <nav id = "top" class="navbar navbar-default" style="margin-top:30px; height:50px;">
    <div class="container-fluid">
     <h4 id="exist" style="float:right;margin-top:-10px">Weather file of <b> <%=@city.titlecase%> </b>
    <%
    if(($found == 1))%>
        <i>exists</i>
    <%else%>
        <i>does not exist</i>
    <%end%>

    </h4>

      <div class="navbar-header">
        <a class="navbar-brand" href="#">SCFT</a>
      </div>
    <ul id="navigation" class="nav navbar-nav">
    <li><a href="#about" id="srch"><i class="glyphicon glyphicon-search" style="height:40px;width:40px;"></i></a></li>
      
      <li><a href="/welcome">Home</a></li>
      
      
      <li><a href="http://127.0.0.1:3000/log_out">Logout</a></li>
      
    </ul>
    </div>

    </nav>
  
  <div id="content"> 
   
    <div id="searchpanel" style="overflow-y: auto;height: 100%; width: 25%;margin-top:0px;margin-right:10px;border:2px solid;border-radius:10px;">
        <ul>
            <table><tr><td>
            Surrogate cities for</td><td></td><td>
            <p id="city" style="margin-top:-6px;">
                <%=@city %>
            </p>
            <img src="/assets/green-dot.png" style="text-align:center;width:16px;height:16px;margin-left:100px;display:block;margin-top:-23px;">
            </td></tr>
            <tr><td>
            Latitude range:
            </td><td></td><td><p id="ran">
                <%=@lat_range %>&#176;
            </p></td></tr>
            <tr><td>
            Elevation range(in m):
            </td><td></td><td>
            <p id="ran">
                <%=@elev_range %>
            </p></td></tr>
            <tr><td>
            Radius range(in Km):
            </td><td></td><td><p id="radius">
                <%=@rad_range%>
            </p>
            </td></tr>
            <tr><td>
            Total cities:
            </td><td></td><td>
            <p id="length" style = "margin-top:-6px;">
                <%=@results.length%>
            </p>
            <%if @results.length < 200 %>
            <img src="/assets/marker.png" style="text-align:center;width:10px;height:16px;margin-left:105px;display:block;margin-top:-23px;">
            <%else%>
            <img src="/assets/placemark_circle.png" style="text-align:center;width:16px;height:16px;margin-left:105px;display:block;margin-top:-23px;">
            <%end%>
            </td></tr></table>
            <% @results.each do |c| %>
                <li style="display:none;">
                    <span id="hidden" href="#" onclick="gc(this);">
                        <%=c.city %></span>
                    </a>
                </li>
                <li class = "lat"style="display:none">
                    <%= c.latitude %>                    
                </li>
                <li class = "lon"style="display:none">
                    <%= c.longitude %>                    
                </li>
                <li class = "cit"style="display:none">
                    <%= c.city %>                    
                </li>
                <% end%>
                
        </ul>
        <div id="tablespace"></div>
    </div>
    <!-- place your main page content here --> 
    <div id="map-canvas">
    </div>
    <div id="display">
    </div>
    
  </div>
</div>

<script type="text/javascript">
	 calcu();
            google.maps.event.addDomListener(window, 'load', initialize);
</script>
</body>
</html>
