<!DOCTYPE HTML>
<html>
<link rel="icon" href="/assets/search.png">
<head>

<style>

canvas{

z-index: -1; 
position: absolute;

}
#section-demo{
width: 100%;
height: 170%;
}
</style>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
var HEIGHT;
var canvas;
var con;
var g;
var pxs = [];
var rint = 60;
 
$(document).ready(function(){
  WIDTH = window.innerWidth;
  HEIGHT = window.innerHeight;
  $('#container').width(WIDTH).height(HEIGHT);
  canvas = document.getElementById('demo');
  $(canvas).attr('width', WIDTH).attr('height',HEIGHT);
  con = canvas.getContext('2d');
  for(var i = 0; i < 100; i++) {
    pxs[i] = new Circle();
    pxs[i].reset();
  }
  setInterval(draw,rint);
});
 
function draw() {
  con.clearRect(0,0,WIDTH,HEIGHT);
  for(var i = 0; i < pxs.length; i++) {
    pxs[i].fade();
    pxs[i].move();
    pxs[i].draw();
  }
}
 
function Circle() {
  this.s = {ttl:8000, xmax:3, ymax:2, rmax:200, rt:1, xdef:960, ydef:540, xdrift:2, ydrift: 2, random:true, blink:true};
 
  // fill vars
  var crFill = [
    ['rgba(10,56,67,0)', 'rgba(10,56,67,1)'],
    ['rgba(11,67,99,0)', 'rgba(11,67,99,1)'],
    ['rgba(8,46,49,0)', 'rgba(8,46,49,1)'],
    ['rgba(7,64,60,0)', 'rgba(7,64,60,1)']
  ];
 
  // opacity var
  var opacityFill = "." + Math.floor(Math.random() * 5) + 1;
 
  this.reset = function() {
    this.x = (this.s.random ? WIDTH*Math.random() : this.s.xdef);
    this.y = (this.s.random ? HEIGHT*Math.random() : this.s.ydef);
    this.r = ((this.s.rmax-1)*Math.random()) + 1;
    this.dx = (Math.random()*this.s.xmax) * (Math.random() < 0.5 ? -1 : 1);
    this.dy = (Math.random()*this.s.ymax) * (Math.random() < 0.5 ? -1 : 1);
    this.hl = (this.s.ttl/rint)*(this.r/this.s.rmax);
    this.rt = Math.random()*this.hl;
    this.s.rt = Math.random()+1;
    this.stop = Math.random()*0.2+0.4;
    this.s.xdrift *= Math.random() * (Math.random() < 0.5 ? -1 : 1);
    this.s.ydrift *= Math.random() * (Math.random() < 0.5 ? -1 : 1);
    this.opacityFill = opacityFill;
 
    this.currentColor = Math.floor(Math.random()*crFill.length);
  };
 
  this.fade = function() {
    this.rt += this.s.rt;
  };
 
  this.draw = function() {
    if(this.s.blink && (this.rt <= 0 || this.rt >= this.hl)){
      this.s.rt = this.s.rt*-1;
    }
    else if(this.rt >= this.hl){
      this.reset();
    }
    con.beginPath();
    con.arc(this.x,this.y,this.r,0,Math.PI*2,true);
    con.globalAlpha = opacityFill;
    var newo = 1-(this.rt/this.hl);
    var cr = this.r*newo;
     
    gradient = con.createRadialGradient(this.x,this.y,0,this.x,this.y,(cr <= 0 ? 1 : cr));
    gradient.addColorStop(0.0, crFill[(this.currentColor)][1]);
    gradient.addColorStop(0.7, crFill[(this.currentColor)][1]);
    gradient.addColorStop(1.0, crFill[(this.currentColor)][0]);
 
    con.fillStyle = gradient;
    con.fill();
 
    con.closePath();
  };
 
  this.move = function() {
    this.x += (this.rt/this.hl)*this.dx;
    this.y += (this.rt/this.hl)*this.dy;
    if(this.x > WIDTH || this.x < 0){
      this.dx *= -1;
    } 
    if(this.y > HEIGHT || this.y < 0){
      this.dy *= -1;
    } 
  };
 
  this.getX = function() { return this.x; };
  this.getY = function() { return this.y; };
}

</script>
</head>
<body>
<h1 style="text-align:center">Surrogate City Finder Tool</h1>
<div class="section-demo">
<canvas id="demo" style="width:1248px;height:500px;padding:10px 10px 10px 10px;top:90px">
</canvas>

<div id="main">

<div id="about" style="float:left; background: transparent;">
<div class="lol" style="color: white;">
                <b>The Surrogate City Finder Tool finds weather data files of those cities around the world whose weather is the closest match to the city.</b>
                <br><br>  
                <b> Energyplus weather data files contain exhaustive weather data for a city which is utilised in simulations of the weather of a city for planning constructions and building models.</b><br><br>
                <b> Our tool helps in finding surrogate cities around the world.</b>
        </div>
</div>

<div id="about1" style="float:left; background: transparent;">
<div class="lol" style="color: white;" >
                <b>Match is done on the basis of similar weather conditions like Altitude , Latitude, Radius and Temperature profiles.</b>
        </div>
</div>

<div id="about2" style="float:left; background: transparent;">
<div class="lol" style="color: white;"><b>
         Developers<br>
         Akanksha<br>
         Arushi<br>
         Ayush  <br>
         Dhruv<br>
         Siddharth<br></b>
        </div>
</div>

<div id="login">
<h2>Log in</h2>

<%= form_tag sessions_path do %>
  <p>
    <%= label_tag :email %><br />
    <%= text_field_tag :email, params[:email] %>
  </p>
  <p>
    <%= label_tag :password %><br />
    <%= password_field_tag :password %>
  </p>
  <p class="button" style="width:90px"><%= submit_tag "Log in" %></p>
  <p class ="button" style="text-align:left">Don't have an account? 
  <a href="sign_up">Sign up</a>
  </p>
</div>

</div>
<!--<a href="sign_up"><button>SignUp</button></a>-->
<% end %>

</body>
</html>
