<!DOCTYPE HTML>
<html>
<head></head>

 <!-- <a href="log_in"><button>LogIn</button></a>-->
<div id="main">
<h1>Surrogate City Finder Tool</h1>

<div id="login">
<h2>Log in</h2>

<%= form_tag sessions_path do %>
  <p>
    <%= label_tag :email %><br />
    <%= text_field_tag :email, params[:email] %>
  </p>
  <p>
    <%= label_tag :password %><br />
    <%= password_field_tag :password %>
  </p>
  <p class="button" style="width:90px"><%= submit_tag "Log in" %></p>
  <p class ="button" style="text-align:left">Don't have an account? 
  <a href="sign_up">Sign up</a>
  </p>
</div>

</div>
<!--<a href="sign_up"><button>SignUp</button></a>-->
<% end %>
</html>
