<html lang="en-US">
<head>
<link rel="icon" href="/assets/search.png">
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<title>SCFT</title>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" media="all" href="http://fonts.googleapis.com/css?family=ABeeZee">
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.0/jquery-ui.min.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<script>
function goBack() {
    window.history.back()
}
</script>

<style>
body{
	background-color: #000;
}
#top{
	height:40px;
}
</style>

</head>

<body>
<script type="text/javascript">
	

google.load("visualization", "1", {packages:["corechart"]});
google.setOnLoadCallback(drawChart);
var options;
var chart;	
	

function drawChart() 
{
	   
    tt= <%=raw @matter.to_json %>;
    //alert("hello");
    //alert(tt);
    var data1=[];
    for (i=0;i<13;i++)
    {
    	data1[i]=['0',0,0,0,0];
    } 
        data1[0][0]= 'Year';
        data1[0][1]= 'Minimum Temperature of ' + '<%= $city%>';
        data1[0][2]= 'Maximum Temperature of ' + '<%= $city%>';
       	data1[0][3]= 'Minimum Temperature of ' + '<%= $icity%>';
       	data1[0][4]= 'Minimum Temperature of '+ '<%= $icity%>';



    Months = ['Jan','Feb','Mar','Apr','May','Jun', 'Jul','Aug','Sep','Oct','Nov', 'Dec'];
    for (i=0;i<12;i++)
    {
    	data1[i+1][0]=Months[i];
    }

    climatedata = gowiki();
 
   for (i=1,j=0;i<13 && j<24;i++,j+=2)
   {
		data1[i][1] = parseFloat(climatedata[j]); 
   }

   for (i=1,j=1;i<13 && j<24;i++,j+=2)
   {
		data1[i][2] = parseFloat(climatedata[j]);
   }
   ttmax=1;
   for (i=1;i<13;i++)
   {
   	    data1[i][3] = parseFloat(tt[ttmax++]);
   }

   ttmin=13;
   for (i=1;i<13;i++)
   {
   	    data1[i][4] = parseFloat(tt[ttmin++]);
   }
   
     //array[i][2]= Min of sendarray of gowiki(odd indexes)
	 //array[i][1]  = Max (even indices)
	 //array[i][3] = Max of tt from 1 to 12th element of tt
	 //array[i][4] = min of tt from 13th to 25th element of tt
	//climatedata= gowiki();
	//alert(climatedata);    
	//alert(data1);

	 var data = google.visualization.arrayToDataTable([
          ['Year', 'Min', 'Max'],
          ['Jan',  14.7,      28.6],
          ['Feb',  17.0,      31.8],
          ['Mar',  20.3,      35.2],
          ['Apr',  24.1,      37.6],
          ['May',  26.0,      38.8],
          ['Jun',  23.9,      34.4],
          ['Jul',  22.5,      30.5],
          ['Aug',  22.0,       29.6],
          ['Sep',  21.7,       30.1],
          ['Oct',  20.0,       30.4],
          ['Nov',  16.4,       28.8],
          ['Dec',  14.1,       27.8]
        ]);
       

       options = {
          title: 'Average Temperature Variance',
         backgroundColor: '#FFFFFF'
        };

        var dat = google.visualization.arrayToDataTable(data1);
         chart = new google.visualization.LineChart(document.getElementById('chartdiv'));

        chart.draw(dat, options);
}


function gowiki()
{
    

	
	//alert(hey);
	var sendarray=[];
	data = <%=raw @arr.to_json %>
	
	data=data[0].split("\n");
	while (i<data.length)
	{
		if (data[i]=null)
		{
			data[i]="";
		}
	}
	

	
	var maxtemp=[];
    var mintemp=[];
    var maxyearavg;
    var minyearavg;
   if(data.length>1)
{
	var i=0;
	for(i=0;i<data.length;i++)
	{

		
		if(data[i].match(/Average\shigh\s/g))
		{   
			
			var j;
			var k=i;
			for(j=0;j<24;j++,k++)
				if(!data[k].match(/\(/g))
				{	
					data[k]=data[k].replace("−", "-"); 
					maxtemp.push(data[k]);
				}

			maxyearavg=data[k+1];
		}
		else if(data[i].match(/Average\slow\s/g))
		{
			var j;
			var k=i;
			for(var j=0;j<24;j++,k++)
				if(!data[k].match(/\(/g))
				{
					data[k]=data[k].replace("−", "-");
					mintemp.push(data[k]);
				} 

			minyearavg=data[k+1];

		}
		
	}

    

        i=0;
        var newdata=[["year","Min","Max"]];
        var dates=["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"];
        
        while(i<12)
        {
            var temp=[dates[i],parseFloat(mintemp[i]),parseFloat(maxtemp[i])];
            var temp1=[parseFloat(maxtemp[i]),parseFloat(mintemp[i])];   
            min=parseFloat(mintemp[i]);
            max=parseFloat(maxtemp[i]);
            sendarray.push(max);
            sendarray.push(min);
            newdata.push(temp);
           
                    
            i=i+1;  
        }
    }
    else
    {
        sendarray=[];
        var newdata=[["year","Min","Max"]];
        var dates=["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"];
        var i=0;
        while(i<12)
        {
                newdata.push([dates[i],0,0]);
                i=i+1;
        }
    }
       
        return sendarray;
}
</script>
<nav id = "top" class="navbar navbar-default" style="margin-top:30px; height:40px;">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">SCFT</a>
      </div>
    <ul id="navigation" class="nav navbar-nav">
    <li><a onclick="goBack()" id="srch" style="cursor:pointer"><i class="fa fa-arrow-left" style="height:40px;width:40px;"></i></a></li>
      
      <li><a href="/welcome">Home</a></li>
      
      
      <li><a href="http://127.0.0.1:3000/log_out">Logout</a></li>
      
    </ul>
    </div>

    </nav>
<div id="content" style="height: 370px;">
	<div id="chartdiv" style="margin-top:100px;margin-left:100px;height:400px;width:800px;background-color:white;">
		Graph image
	</div>
	<h4 style="margin-left: 220px; color: white;"> Graph comparing Temperature variance btw <i><%= $city %></i> and <i><%= $icity %></i></h4>
	<div id="links" style="margin-left:1000px;margin-top:-400px; background: white; height: 360px; border-radius: 10%;">
    <br><br>
		<table class="table table-striped"style="color: black;">
    <tr><td></td><td>&nbsp;&nbsp;&nbsp;<b><%= $city%></b></td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b><%= $icity%></b></td></tr>
    <tr><td>Latitude </td><td> &nbsp;&nbsp;&nbsp;<%= $lat.to_f.round(2) %>&#176; </td><td> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= $latitude.to_f.round(2) %>&#176;   </td></tr>
    <tr><td>Longitude </td><td>&nbsp;&nbsp;&nbsp;<%= $lon.to_f.round(2)%>&#176;   </td><td> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= $longitude.to_f.round(2) %>&#176;    </td></tr>
    <tr><td>Elevation </td><td>&nbsp;&nbsp;&nbsp;<%= $elev.to_f.round(2)%>m </td><td> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= $elevation.to_f.round(2) %>m</td></tr>
    
    </table>
		<!--div style="color: white; margin-bottom: 15px;">
			Queried City = '<%= $city %>'
      <br>
			Match Found = '<%= $icity%>'

		</div--> 
    <br>
		&nbsp;&nbsp;<a href="/surrogate/QualityReport">
			<button>
				<i class="fa fa-download"></i>
				Quality Report
			</button>
		</a>
		
		<br><br>
	
		&nbsp;&nbsp;<a href="/surrogate/EPWfile">
			<button>
				<i class="fa fa-download"></i>
				Weather File
			</button>
		</a>
	
		 
	</div>
	
</div>
</body>
